{% extends "base.html" %}

{% block "title" %}Posts{% endblock %}

{% block "content" %}
{% for post in posts %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_created | date:"Y-m-d, f" }}</small>
            <h2><a class="class-article" href="{% url 'post' post.pk %}">{{ post.title }}</a></h2>
            <p class="class-content">{{ post.content | truncatewords:"30" }} <a href="{% url 'post' post.pk %}">Read More</a></p>
        </div>
    </div>
</article>
{% endfor %}
{% endblock %}