{% extends "base.html" %}

{% block "title" %}Post{% endblock %}

{% block "content" %}
{% load static %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_created | date:"Y-m-d, f" }}</small>
            <h2><a class="class-article">{{ post.title }}</a></h2>
            <p class="class-content">{{ post.content | safe }}</p>
            {% if post.author == user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post_update' post.pk %}">Redaguoti</a>
            </div>
            {% endif %}
            {% if user.is_authenticated %}
            <div class="fieldWrapper">
                <hr>
                <br/>
                <h1>Palikite komentarą</h1>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.content }}<br/>
                    <input type="submit" value="Paskelbti">
                </form>
            </div>
            {% endif %}
            {% if post.comments.all %}
            <h4>Comments ({{ post.comments_count }}):</h4>
            {% for comment in post.comments.all %}
            <small class="text-muted">{{ comment.author }}, {{ comment.date_created | date:"Y-m-d, f" }} </small>
            <p>{{ comment.content }}</p>
            {% endfor %}
            {% else %}
            <h4>No Comments</h4>
            {% endif %}
        </div>
    </div>
</article>
{% endblock %}