{% extends "base.html" %}

{% block "title" %}Post{% endblock %}

{% block "content" %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_created | date:"Y-m-d, f" }}</small>
            <h2><a class="class-article">{{ post.title }}</a></h2>
            <p class="class-content">{{ post.content }}</p>
            {% if post.comments.all %}
            <h4>Comments ({{ post.comments_count }}):</h4>
            {% for comment in post.comments.all %}
            <small class="text-muted">{{ comment.author }}, {{ comment.date_created | date:"Y-m-d, f" }} </small>
            <p>{{ comment.content }}</p>
            {% endfor %}
            {% else %}
            <h4>No Comments</h4>
            {% endif %}
        </div>
    </div>
</article>
{% endblock %}